<?php

$finder = PhpCsFixer\Finder::create()
    ->in(__DIR__ . '/server/src')
    ->in(__DIR__ . '/public')
    ->in(__DIR__ . '/server/tests')
    ->exclude('_data')
    ->exclude('_output')
    ->exclude('_support');

return PhpCsFixer\Config::create()
    ->setRules([
        '@PhpCsFixer' => true,
        'concat_space' => false
    ])
    ->setFinder($finder);
