parameters:
    level: 3
    paths:
        - server/src
        - server/tests
        - public
    ignoreErrors:
    -
        message: '#PHPDoc tag.*[a-zA-Z0-9\\_]+#'
        paths:
            - server/tests/_support/_generated/*
    fileExtensions:
        - php